
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(10, 10, 10);
    color-scheme:dark ;
    justify-content: center;
    
}
body {
    padding: 5%;
}
button{
    background-color: #4b80a3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px
}

canvas {
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
}

